
.container {
  max-width: none !important;
  width: 970px;
}

.navbar-header {
  float: left;
}
.navbar-nav {
  float: left;
  margin: 0;
}
.navbar-nav > li {
  float: left;
}
.navbar-nav.navbar-right {
  float: right;
}

.navbar-default {
  background-color: #ffffff;
}
.navbar-default .navbar-brand {
  font-weight: bold;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #428BCA;
}

/* vote button */
.nav > li.vote {
  position: relative;
  display: block;
  padding: 12px 15px 0 15px;
}

.error {
  color: red;
}

/* form for vm */
.form-vm {
  max-width: 330px;
  margin: 0 auto;
}
.form-vm .form-control {
  margin: 10px 0;
}

/* vm list */
.vm .users {
  padding: 0;
}

.vm li.user {
  list-style: none;
  float: left;
}

.vm .user img {
  width: 48px;
  height: 48px;
  margin-right: 10px;
}
