
.container {
  max-width: none !important;
  width: 970px;
}

.navbar-header {
  float: left;
}
.navbar-nav {
  float: left;
  margin: 0;
}
.navbar-nav > li {
  float: left;
}
.navbar-nav.navbar-right {
  float: right;
}

.navbar-default {
  background-color: #ffffff;
}
.navbar-default .navbar-brand {
  font-weight: bold;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #428BCA;
}

/* vote button */
.nav > li.vote {
  position: relative;
  display: block;
  padding: 12px 15px 0 15px;
}

.error {
  color: red;
}

/* form for vm */
.form-vm {
  max-width: 330px;
  margin: 0 auto;
}
.form-vm .form-control {
  margin: 10px 0;
}

/* vm list */
.vm .users {
  padding: 0;
}

.vm li.user {
  list-style: none;
  float: left;
}

.vm .user img {
  width: 48px;
  height: 48px;
  margin-right: 10px;
}

.list-group .user img,
.list-group .command img,
.list-group .input img {
  width: 20px;
  height: 20px;
  margin-right: 3px;
}

.terminal {
  border: 1px solid #dddddd;
  max-height: 500px;
}

.terminal .list-group {
  margin-bottom: 0;
}

.terminal .list-group-item {
  border: none;
  padding-top: 3px;
  padding-bottom: 3px;
}

.terminal .list-group-item:hover {
  background-color: transparent;
}

.terminal .input input {
  border: none;
  width: 570px;
}

.terminal .input input:focus {
  outline: 0 none;
}

